<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.foodMarket.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterialServlet</servlet-name>
        <servlet-class>com.foodMarket.AddMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialsServlet</servlet-name>
        <servlet-class>com.foodMarket.MaterialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveServlet</servlet-name>
        <servlet-class>com.foodMarket.ApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionCampaign</servlet-name>
        <servlet-class>com.foodMarket.PromotionCampaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOfCampaigns</servlet-name>
        <servlet-class>com.foodMarket.StatusOfCampaigns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterialServlet</servlet-name>
        <url-pattern>/AddMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialsServlet</servlet-name>
        <url-pattern>/MaterialsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionCampaign</servlet-name>
        <url-pattern>/PromotionCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionCampaign</servlet-name>
        <url-pattern>/PromotionCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOfCampaigns</servlet-name>
        <url-pattern>/StatusOfCampaigns</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
